<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S6test</title>
</head>
<body>
    <div>
       <button type="button">回到首頁</button>
       <button type="button">回到首頁</button>
       <button type="button">回到首頁</button>
       <button type="button">回到首頁</button>
     </div>
     
    {{{ body }}}
</body>
</html>