<form action="/" method="GET">
 <input type ="button" name="/" onclick="javascript:location.href='http://localhost:3000/'" value="回到首頁"></input>
 <input type ="button" name="/" onclick="javascript:location.href='http://localhost:3000/'" value="about"></input>
 <input type ="button" name="/" onclick="javascript:location.href='http://localhost:3000/'" value="portfolio"></input>
 <input type ="button" name="/" onclick="javascript:location.href='http://localhost:3000/'" value="contact"></input>
</form>
